<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Properties.Settings>
            <setting name="DarkTheme" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AIConfidence" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="UseGPU" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CheckUpdatesOnLaunch" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CrosshairColor" serializeAs="String">
                <value>#FF000000</value>
            </setting>
            <setting name="LabelColor" serializeAs="String">
                <value>#FFFF0000</value>
            </setting>
            <setting name="CrosshairSize" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="AskForUpload" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MaxConcurrentUploads" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="EnableCrosshair" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LabelThickness" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="FormAccent" serializeAs="String">
                <value>#ba0012</value>
            </setting>
            <setting name="ShowChangelog" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ChangelogContent" serializeAs="String">
                <value />
            </setting>
            <setting name="NewVersion" serializeAs="String">
                <value />
            </setting>
        </Properties.Settings>
    </userSettings>
</configuration>